<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Manager.Database.Endpoint" value="" />
    <add key="Import.Size" value="5000" />
    <add key="Manager.Database.User" value="" />
    <add key="Manager.Database.Name" value="" />
    <add key="Manager.Database.PrimaryKey" value="==" />
    <add key="Manager.BlobStorage.ContainerName" value="" />
    <add key="Manager.BlobStorage.ConnexionString" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>
</configuration>